*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  border: 1px solid currentColor;
  min-height: 34px;
  line-height: 34px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

button:hover {
  text-decoration: underline 1px #FFF;
}

button:active {
  background-color: #545050;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 399px;
  column-gap: 30px;
  align-items: end;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  padding: 2px;
  height: 107px;
  overflow: hidden;
}

.content__card-link:active {
  background-color: #545050;
} 

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: none;
  border: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.title {
  margin-bottom: 26px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result {
  align-self: flex-end;
}

video {
  width: 100%;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline 1px #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__textfield {
  appearance: none;
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  padding: 2px 0;
  background-color: transparent;
  inline-size: 225px;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__textfield::placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  position: relative;
}

.search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  padding: 1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  margin-bottom: 6px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
  max-width: 176px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description {
  padding: 0 2px;
  color: #FFF;
  font-weight: 400;
  line-height: 16.2px;
  max-width: 176px;
}